* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.mainbox {
  width: 600px;
  height: 580px; /*will be removed later */
  background-color: white;
  border: 3px solid gray;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}

/*  General classes for the page */
.boldtext {
  font-weight: 700PX;
}

.centertext {
  text-align: center;
}


/* Styles for the header section */


/* Styles for the nav section */


/* Styles for the main / sections section */


/* Styles for the footer section */

